body 
	{
	min-width:350px;
	min-height: 380px;
	overflow-x:hidden;
	overflow-y:hidden;
	background-color: white;
	color: black;
	}

body, table tr td
	{
	font-family: Trebuchet MS;
	font-size: 12px;
	}

#title
	{
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
	}

#bookmarks
	{
	height: 350px;
	overflow: auto;
	}

#bookmarks a:link, #bookmarks a:visited, #bookmarks a:active
	{
	color: #666666;
	text-decoration: underline;
	}

#bookmarks a:hover
	{
	color: #CC0000;
	text-decoration: none;
	}

.footer
	{
	color: #AAAAAA;
	font-size: 10px;
	border-top: 1px solid #AAAAAA;
	margin-top: 10px;
	padding-top: 10px;
	}
	
#search
	{
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	padding: 2px;
	background-color: #F7F7F7;	
	}

	#search .fa {
		font-size: 1.2em;
		padding:1px 3px 1px 2px
	}
	
#search img
	{
	margin: -3px 0 0 2px;
	}
	
#search input
	{
	border: 0;
	width: 230px;
	padding: 2px;
	}
	
#search input:focus
	{
	border:0;
	outline: none;
	}

#bookmarks a.label
	{
	margin: 3px 0px 3px 5px;
	background-color: #f3e7b3; 
	display: inline;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-decoration: none;
	font-size: 0.9em;
	padding: 1px 7px 1px 7px;
	}

#bookmarks table.label a, #bookmarks table.label a:link, #bookmarks table.label a:visited, #bookmarks table.label a:hover, #bookmarks table.label a:active
	{
	font-family: Verdana;
	font-weight: normal;
	text-decoration:none;
	font-size: 9px;
	color: #666666;
	}