body 
	{
	min-width:350px;
	min-height: 380px;
	overflow-x:hidden;
	overflow-y:hidden;
	background-color: white;
	color: black;
	}

body, table tr td
	{
	font-family: Trebuchet MS;
	font-size: 12px;
	}

#title
	{
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
	}

#bookmarks
	{
	height: 350px;
	overflow: auto;
	}

#bookmarks a:link, #bookmarks a:visited, #bookmarks a:active
	{
	color: #666666;
	text-decoration: underline;
	}

#bookmarks a:hover
	{
	color: #CC0000;
	text-decoration: none;
	}

.footer
	{
	color: #AAAAAA;
	font-size: 10px;
	border-top: 1px solid #AAAAAA;
	margin-top: 10px;
	padding-top: 10px;
	}
	
#search
	{
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	padding: 2px;
	background-color: #F7F7F7;	
	}
	
#search img
	{
	margin: -3px 0 0 2px;
	}
	
#search input
	{
	border: 0;
	width: 230px;
	}
	
#search input:focus
	{
	border:0;
	outline: none;
	}